<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test templating</title>
</head>
<body>
<h3>Hello {{name.capitalize() if name else "User"}},</h3>
<p>I think you are {{gender if gender else "Anonym gender"}},</p>
<p>And you might be {{age if age else "Unknown"}} years old</p>
<footer>
    <h4>Copyright {{year}} Built by Alona</h4>
</footer>

</body>
</html>