{% extends "index.html" %}
{% block content %}
<div class="row m-2 gx-4 gx-lg-5 justify-content-center">
    <div>
        <h3 class="text-capitalize text-center">Data analytics searches VS prices</h3>
        <a class="btn btn-sm btn-primary mt-3" href="#" onclick="showChart('chartTesla', 'tesla')">Tesla Analysis</a>
        <a class="btn btn-sm btn-primary mt-3" href="#" onclick="showChart('chartUnemployment', 'unemployment')">Unemployment
            Analysis</a>
        <a class="btn btn-sm btn-primary mt-3" href="#" onclick="showChart('chartBitcoin', 'bitcoin')">Bitcoin
            Analysis</a>
        <div id="bitcoin" style="display: none;">
            <iframe style="display: none;" class="w-100 mt-3" id="chartBitcoin"
                    src="{{url_for('visualize_bitcoin')}}"
                    height="800"></iframe>
        </div>
        <div id="tesla" style="display: none;">
            <iframe style="display: none;" class="w-100 mt-3" id="chartTesla"
                    src="{{url_for('visualize_tesla')}}"
                    height="800"></iframe>
        </div>
        <div id="unemployment" style="display: none;">
            <iframe style="display: none;" class="w-100 mt-3" id="chartUnemployment"
                    src="{{url_for('visualize_unemployment')}}"
                    height="800"></iframe>
        </div>
    </div>

</div>
<script>
    function showChart(ifr,char) {
      var iframes = document.querySelectorAll('iframe');
      var plotDivs = document.querySelectorAll('#tesla, #unemployment, #bitcoin');
    
      // Hide all iframes and plotDivs
      iframes.forEach(function(iframe) {
        iframe.style.display = 'none';
      });
    
      plotDivs.forEach(function(plotDiv) {
        plotDiv.style.display = 'none';
      });
    
      // Show the selected iframe and plotDiv
      var iframe = document.getElementById(ifr);
      var plotDiv = document.getElementById(char);
    
      iframe.style.display = 'block';
      plotDiv.style.display = 'block';
    }
</script>
{% endblock %}
